.cars {display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: peru;

}
.bikes {display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: peru;

}
.trucks {display: flex;
flex-wrap: wrap
;justify-content: space-between;
background-color: peru;

}
nav {display: flex;
background-color: navajowhite;}
ul {display: flex;
justify-content: space-between;
width: 100%;


}
main{background-color: black;

background-color: navajowhite;
justify-content: space-between;}
footer  {display: flex;
flex-wrap: wrap;
background-color: navajowhite ;
justify-content: space-between;
}

.navbar {display: none;}
@media screen and (max-width:480px) {.navbar {display: inline-block;} 
nav>ul {display: none ;}

.navbar:hover + ul, ul:hover {display: flex;
width: auto;
flex-direction: column;
background-color: navajowhite;


}






